---
group: Website prototypes
title: Area hub
layout: area-hub/views/_master
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/phase-banner/_macro.njk" import onsPhaseBanner %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/table-of-contents/_macro.njk" import onsTableOfContents %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/hero/_macro.njk" import onsHero %}
{% from "components/autosuggest/_macro.njk" import onsAutosuggest %}

{% block header %}
    <header>
        <a class="skiplink" href="https://www.ons.gov.uk/#main" tabindex="0">Skip to main content</a>
            {{
                onsPhaseBanner({
                    "badge": "Alpha",
                    "html": "This is a new service – your <a href='https://www.ons.gov.uk/feedback'>feedback</a> will help us improve it."
                })
            }}
        <div id="pagePath" class="hide"></div>
        <div class="wrapper">
        <div class="header col-wrap">
        <div class="col col--lg-one-third col--md-one-third">
        <a id="logo-link" href="https://www.ons.gov.uk/">
        <img class="logo" src="https://cdn.ons.gov.uk/assets/images/ons-logo/v2/ons-logo.svg" alt="Office for National Statistics logo - Homepage">
        </a>
        </div>
        <div class="col col--lg-two-thirds col--md-two-thirds hide--sm print--hide language--js__container">
        <div class="language">
        English (EN) |
        <a class="language__link icon--hide" lang="cy" href="https://cy.ons.gov.uk">Cymraeg (CY)</a>
        </div>
        </div>
        <div class="secondary-nav col col--lg-two-thirds col--md-two-thirds print--hide">
        <ul id="nav-secondary" class="secondary-nav__list js-nav-clone__list">
        <li class="secondary-nav__item">
        <a class="secondary-nav__link  js-nav-clone__link" href="https://www.ons.gov.uk/releasecalendar">Release calendar</a>
        </li>
        <li class="secondary-nav__item">
        <a class="secondary-nav__link  js-nav-clone__link" href="https://www.ons.gov.uk/methodology">Methodology</a>
        </li>
        <li class="secondary-nav__item">
        <a class="secondary-nav__link  js-nav-clone__link" href="https://www.ons.gov.uk/news">Media</a>
        </li>
        <li class="secondary-nav__item">
        <a class="secondary-nav__link  js-nav-clone__link" href="https://www.ons.gov.uk/aboutus">About</a>
        </li>
        <li class="secondary-nav__item">
        <a class="secondary-nav__link icon--hide js-nav-clone__link" target="_blank" rel="noopener noreferrer" href="https://blog.ons.gov.uk/">Blog</a>
        </li>
        </ul>
        </div>
        </div>
        </div>
        <div class="primary-nav print--hide">
        <nav aria-label="Site navigation">
        <ul class="nav--controls">
        <li class="nav--controls__item">
        <a href="https://www.ons.gov.uk/#nav-primary" id="menu-toggle" aria-controls="nav-primary" aria-expanded="false" class="nav--controls__menu ">
        <span class="nav--controls__text">Menu</span>
        </a>
        </li>
        <li class="nav--controls__item ">
        <a href="https://www.ons.gov.uk/#nav-search" id="search-toggle" aria-controls="nav-search" aria-expanded="false" class="nav--controls__search">
        <span class="nav--controls__text">Search</span>
        </a>
        </li>
        </ul>
        <ul class="wrapper nav-main--hidden primary-nav__list" id="nav-primary" aria-expanded="false">
        <li class="primary-nav__item js-nav hide--sm old-ie--display-block">
        <a class="primary-nav__link col col--md-7 col--lg-9" href="https://www.ons.gov.uk/">Home</a>
        </li>
        <li class="primary-nav__item js-nav js-expandable">
        <a class="primary-nav__link col col--md-8 col--lg-10" href="https://www.ons.gov.uk/businessindustryandtrade" aria-expanded="false" aria-label="Business, industry and trade sub menu">
        <span aria-hidden="true" class="expansion-indicator"></span>
        <span class="submenu-title">
        Business, industry and trade
        </span>
        </a>
        <ul class="primary-nav__child-list col col--md-16 col--lg-20 js-expandable__content js-nav-hidden jsEnhance" aria-expanded="false" aria-label="submenu">
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/businessindustryandtrade/business">Business</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/businessindustryandtrade/changestobusiness">Changes to business</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/businessindustryandtrade/constructionindustry">Construction industry</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/businessindustryandtrade/itandinternetindustry">IT and internet industry</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/businessindustryandtrade/internationaltrade">International trade</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/businessindustryandtrade/manufacturingandproductionindustry">Manufacturing and production industry</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/businessindustryandtrade/retailindustry">Retail industry</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/businessindustryandtrade/tourismindustry">Tourism industry</a>
        </li>
        </ul>
        </li>
        <li class="primary-nav__item js-nav js-expandable">
        <a class="primary-nav__link col col--md-8 col--lg-10" href="https://www.ons.gov.uk/economy" aria-expanded="false" aria-label="Economy sub menu toggle">
        <span aria-hidden="true" class="expansion-indicator"></span>
        <span class="submenu-title">
        Economy
        </span>
        </a>
        <ul class="primary-nav__child-list col col--md-16 col--lg-20 js-expandable__content js-nav-hidden jsEnhance" aria-expanded="false" aria-label="submenu">
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/economy/economicoutputandproductivity">Economic output and productivity</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/economy/environmentalaccounts">Environmental accounts</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/economy/governmentpublicsectorandtaxes">Government, public sector and taxes</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/economy/grossdomesticproductgdp">Gross Domestic Product (GDP)</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/economy/grossvalueaddedgva">Gross Value Added (GVA)</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/economy/inflationandpriceindices">Inflation and price indices</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/economy/investmentspensionsandtrusts">Investments, pensions and trusts</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/economy/nationalaccounts">National accounts</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/economy/regionalaccounts">Regional accounts</a>
        </li>
        </ul>
        </li>
        <li class="primary-nav__item js-nav js-expandable">
        <a class="primary-nav__link col col--md-8 col--lg-10" href="https://www.ons.gov.uk/employmentandlabourmarket" aria-expanded="false" aria-label="Employment and labour market sub menu toggle">
        <span aria-hidden="true" class="expansion-indicator"></span>
        <span class="submenu-title">
        Employment and labour market
        </span>
        </a>
        <ul class="primary-nav__child-list col col--md-16 col--lg-20 js-expandable__content js-nav-hidden jsEnhance" aria-expanded="false" aria-label="submenu">
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork">People in work</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/employmentandlabourmarket/peoplenotinwork">People not in work</a>
        </li>
        </ul>
        </li>
        <li class="primary-nav__item js-nav js-expandable">
        <a class="primary-nav__link col col--md-8 col--lg-10" href="https://www.ons.gov.uk/peoplepopulationandcommunity" aria-expanded="false" aria-label="People, population and community sub menu toggle">
        <span aria-hidden="true" class="expansion-indicator"></span>
        <span class="submenu-title">
        People, population and community
        </span>
        </a>
        <ul class="primary-nav__child-list col col--md-16 col--lg-20 js-expandable__content js-nav-hidden jsEnhance" aria-expanded="false" aria-label="submenu">
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/birthsdeathsandmarriages">Births, deaths and marriages</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice">Crime and justice</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/culturalidentity">Cultural identity</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/educationandchildcare">Education and childcare</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/elections">Elections</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/healthandsocialcare">Health and social care</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/householdcharacteristics">Household characteristics</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/housing">Housing</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/leisureandtourism">Leisure and tourism</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/personalandhouseholdfinances">Personal and household finances</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration">Population and migration</a>
        </li>
        <li class="primary-nav__child-item  js-expandable__child">
        <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/wellbeing">Well-being</a>
        </li>
        </ul>
        </li>
        <li class="primary-nav__item js-nav">
        <a class="primary-nav__link  col col--md-8 col--lg-10" href="https://www.ons.gov.uk/surveys">
        Taking part in a survey?
        </a>
        </li>
        <li class="hide--md primary-nav__language">
        English (EN) |
        <a class="language__link icon--hide" href="https://cy.ons.gov.uk">Cymraeg (CY)</a>
        </li>
        </ul>
        </nav>
        </div>
        <div class="search nav-search--hidden print--hide" >
        <div class="wrapper" >
            <form class="col-wrap search__form" action="https://www.ons.gov.uk/search" >
            <label class="search__label col col--md-23 col--lg-24" for="nav-search">Search for a keyword(s) or time series ID</label>
            <input type="search" class="search__input col col--md-21 col--lg-32" id="nav-search" name="q" value="">
            <button type="submit" class="search__button col--md-3 col--lg-3" >
                <span class="visuallyhidden">Search</span>
                <span class="icon icon-search--light"> </span>  
            </button>
            </form>    
            
        </div> 
        </div>
    </header>   
{% endblock %}
{% block pageContent %}
<main id="main" role="main" tabindex="-1">
    <section class="ons-hero ons-grid--gutterless">
        <div class="ons-hero__container ons-container">
            <div class="ons-hero__details ons-grid__col ons-col-8@m ons-col-10@s@m">
                                    {{
                        onsBreadcrumbs({
                            "ariaLabel": 'Breadcrumbs',
                            "itemsList": [
                                {
                                    "url": '/',
                                    "text": 'Home'
                                },
                                {
                                    "url": '/',
                                    "text": 'Explore local statistics'
                                }
                            ]
                        })
                    }}
                <header>
                    <h1 class="ons-hero__title ons-u-fs-xxxl">Explore local statistics</h1>
                </header>
                <p class="ons-hero__text">Find, visualise, compare and download statistics for areas within the United Kingdom.</p>
                    {{ onsAutosuggest({
                    "id": "country-of-birth-autosuggest",
                    "input": {
                        "label": {
                            "text": "Search by area name or postcodse",
                            "description": "Enter your own answer or select from suggestions",
                            "id": "country-of-birth-label"
                        },
                        "autocomplete": "off"
                    },
                    "instructions": "Use up and down keys to navigate suggestions once you\'ve typed more than three characters. Use the enter key to select a suggestion. Touch device users, explore by touch or with swipe gestures.",
                    "ariaYouHaveSelected": "You have selected",
                    "ariaMinChars": "Enter 3 or more characters for suggestions.",
                    "ariaOneResult": "There is one suggestion available.",
                    "ariaNResults": "There are {n} suggestions available.",
                    "ariaLimitedResults": "Results have been limited to 10 suggestions. Type more characters to improve your search",
                    "moreResults": "Continue entering to improve suggestions",
                    "resultsTitle": "Suggestions",
                    "resultsTitleId": "area-name-suggestions",
                    "autosuggestData": "https://raw.githubusercontent.com/Joe-Dixon-ID/website-prototypes/main/src/prototypes/area-name-suggestions.json",
                    "noResults": "No suggestions found. You can enter your own answer",
                    "typeMore": "Continue entering to get suggestions"
                }) }}

            </div>
            <div class="ons-hero__additional-html">
                <svg width="298" height="378" viewBox="0 0 298 378" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="164" cy="34" r="4" fill="#206095"/>
                    <circle cx="164" cy="34" r="4" fill="#206095"/>
                    <circle cx="154" cy="34" r="4" fill="#206095"/>
                    <circle cx="144" cy="34" r="4" fill="#206095"/>
                    <circle cx="134" cy="34" r="4" fill="#206095"/>
                    <circle cx="14" cy="34" r="4" fill="#206095"/>
                    <circle cx="24" cy="24" r="4" fill="#206095"/>
                    <circle cx="164" cy="14" r="4" fill="#206095"/>
                    <circle cx="174" cy="14" r="4" fill="#206095"/>
                    <circle cx="164" cy="14" r="4" fill="#206095"/>
                    <circle cx="174" cy="14" r="4" fill="#206095"/>
                    <circle cx="164" cy="4" r="4" fill="#206095"/>
                    <circle cx="174" cy="4" r="4" fill="#206095"/>
                    <circle cx="164" cy="4" r="4" fill="#206095"/>
                    <circle cx="174" cy="4" r="4" fill="#206095"/>
                    <circle cx="164" cy="44" r="4" fill="#206095"/>
                    <circle cx="154" cy="44" r="4" fill="#206095"/>
                    <circle cx="144" cy="44" r="4" fill="#206095"/>
                    <circle cx="134" cy="44" r="4" fill="#206095"/>
                    <circle cx="124" cy="44" r="4" fill="#206095"/>
                    <circle cx="94" cy="44" r="4" fill="#206095"/>
                    <circle cx="14" cy="44" r="4" fill="#206095"/>
                    <circle cx="144" cy="54" r="4" fill="#206095"/>
                    <circle cx="134" cy="54" r="4" fill="#206095"/>
                    <circle cx="124" cy="54" r="4" fill="#206095"/>
                    <circle cx="94" cy="54" r="4" fill="#206095"/>
                    <circle cx="84" cy="54" r="4" fill="#206095"/>
                    <circle cx="144" cy="64" r="4" fill="#206095"/>
                    <circle cx="134" cy="64" r="4" fill="#206095"/>
                    <circle cx="124" cy="64" r="4" fill="#206095"/>
                    <circle cx="114" cy="64" r="4" fill="#206095"/>
                    <circle cx="84" cy="64" r="4" fill="#206095"/>
                    <circle cx="164" cy="74" r="4" fill="#206095"/>
                    <circle cx="184" cy="74" r="4" fill="#206095"/>
                    <circle cx="194" cy="74" r="4" fill="#206095"/>
                    <circle cx="164" cy="74" r="4" fill="#206095"/>
                    <circle cx="174" cy="74" r="4" fill="#206095"/>
                    <circle cx="184" cy="74" r="4" fill="#206095"/>
                    <circle cx="194" cy="74" r="4" fill="#206095"/>
                    <circle cx="154" cy="74" r="4" fill="#206095"/>
                    <circle cx="134" cy="74" r="4" fill="#206095"/>
                    <circle cx="124" cy="74" r="4" fill="#206095"/>
                    <circle cx="114" cy="74" r="4" fill="#206095"/>
                    <circle cx="164" cy="84" r="4" fill="#206095"/>
                    <circle cx="184" cy="84" r="4" fill="#206095"/>
                    <circle cx="164" cy="84" r="4" fill="#206095"/>
                    <circle cx="174" cy="84" r="4" fill="#206095"/>
                    <circle cx="184" cy="84" r="4" fill="#206095"/>
                    <circle cx="154" cy="84" r="4" fill="#206095"/>
                    <circle cx="144" cy="84" r="4" fill="#206095"/>
                    <circle cx="134" cy="84" r="4" fill="#206095"/>
                    <circle cx="124" cy="84" r="4" fill="#206095"/>
                    <circle cx="114" cy="84" r="4" fill="#206095"/>
                    <circle cx="94" cy="84" r="4" fill="#206095"/>
                    <circle cx="74" cy="84" r="4" fill="#206095"/>
                    <circle cx="164" cy="94" r="4" fill="#206095"/>
                    <circle cx="184" cy="94" r="4" fill="#206095"/>
                    <circle cx="164" cy="94" r="4" fill="#206095"/>
                    <circle cx="174" cy="94" r="4" fill="#206095"/>
                    <circle cx="184" cy="94" r="4" fill="#206095"/>
                    <circle cx="154" cy="94" r="4" fill="#206095"/>
                    <circle cx="144" cy="94" r="4" fill="#206095"/>
                    <circle cx="134" cy="94" r="4" fill="#206095"/>
                    <circle cx="124" cy="94" r="4" fill="#206095"/>
                    <circle cx="114" cy="94" r="4" fill="#206095"/>
                    <circle cx="104" cy="94" r="4" fill="#206095"/>
                    <circle cx="94" cy="94" r="4" fill="#206095"/>
                    <circle cx="164" cy="104" r="4" fill="#206095"/>
                    <circle cx="184" cy="104" r="4" fill="#206095"/>
                    <circle cx="164" cy="104" r="4" fill="#206095"/>
                    <circle cx="174" cy="104" r="4" fill="#206095"/>
                    <circle cx="184" cy="104" r="4" fill="#206095"/>
                    <circle cx="154" cy="104" r="4" fill="#206095"/>
                    <circle cx="144" cy="104" r="4" fill="#206095"/>
                    <circle cx="134" cy="104" r="4" fill="#206095"/>
                    <circle cx="124" cy="104" r="4" fill="#206095"/>
                    <circle cx="114" cy="104" r="4" fill="#206095"/>
                    <circle cx="164" cy="114" r="4" fill="#206095"/>
                    <circle cx="164" cy="114" r="4" fill="#206095"/>
                    <circle cx="174" cy="114" r="4" fill="#206095"/>
                    <circle cx="154" cy="114" r="4" fill="#206095"/>
                    <circle cx="144" cy="114" r="4" fill="#206095"/>
                    <circle cx="134" cy="114" r="4" fill="#206095"/>
                    <circle cx="124" cy="114" r="4" fill="#206095"/>
                    <circle cx="114" cy="114" r="4" fill="#206095"/>
                    <circle cx="104" cy="114" r="4" fill="#206095"/>
                    <circle cx="164" cy="124" r="4" fill="#206095"/>
                    <circle cx="174" cy="124" r="4" fill="#206095"/>
                    <circle cx="164" cy="124" r="4" fill="#206095"/>
                    <circle cx="174" cy="124" r="4" fill="#206095"/>
                    <circle cx="154" cy="124" r="4" fill="#206095"/>
                    <circle cx="144" cy="124" r="4" fill="#206095"/>
                    <circle cx="134" cy="124" r="4" fill="#206095"/>
                    <circle cx="124" cy="124" r="4" fill="#206095"/>
                    <circle cx="114" cy="124" r="4" fill="#206095"/>
                    <circle cx="104" cy="124" r="4" fill="#206095"/>
                    <circle cx="164" cy="134" r="4" fill="#206095"/>
                    <circle cx="164" cy="134" r="4" fill="#206095"/>
                    <circle cx="154" cy="134" r="4" fill="#206095"/>
                    <circle cx="144" cy="134" r="4" fill="#206095"/>
                    <circle cx="134" cy="134" r="4" fill="#206095"/>
                    <circle cx="124" cy="134" r="4" fill="#206095"/>
                    <circle cx="114" cy="134" r="4" fill="#206095"/>
                    <circle cx="164" cy="144" r="4" fill="#206095"/>
                    <circle cx="174" cy="144" r="4" fill="#206095"/>
                    <circle cx="164" cy="144" r="4" fill="#206095"/>
                    <circle cx="174" cy="144" r="4" fill="#206095"/>
                    <circle cx="184" cy="144" r="4" fill="#206095"/>
                    <circle cx="154" cy="144" r="4" fill="#206095"/>
                    <circle cx="144" cy="144" r="4" fill="#206095"/>
                    <circle cx="134" cy="144" r="4" fill="#206095"/>
                    <circle cx="124" cy="144" r="4" fill="#206095"/>
                    <circle cx="114" cy="144" r="4" fill="#206095"/>
                    <circle cx="104" cy="144" r="4" fill="#206095"/>
                    <circle cx="94" cy="144" r="4" fill="#206095"/>
                    <circle cx="164" cy="154" r="4" fill="#206095"/>
                    <circle cx="174" cy="154" r="4" fill="#206095"/>
                    <circle cx="164" cy="154" r="4" fill="#206095"/>
                    <circle cx="174" cy="154" r="4" fill="#206095"/>
                    <circle cx="184" cy="154" r="4" fill="#206095"/>
                    <circle cx="154" cy="154" r="4" fill="#206095"/>
                    <circle cx="144" cy="154" r="4" fill="#206095"/>
                    <circle cx="134" cy="154" r="4" fill="#206095"/>
                    <circle cx="124" cy="154" r="4" fill="#206095"/>
                    <circle cx="114" cy="154" r="4" fill="#206095"/>
                    <circle cx="164" cy="164" r="4" fill="#206095"/>
                    <circle cx="174" cy="164" r="4" fill="#206095"/>
                    <circle cx="184" cy="164" r="4" fill="#206095"/>
                    <circle cx="154" cy="164" r="4" fill="#206095"/>
                    <circle cx="144" cy="164" r="4" fill="#206095"/>
                    <circle cx="134" cy="164" r="4" fill="#206095"/>
                    <circle cx="114" cy="164" r="4" fill="#206095"/>
                    <circle cx="164" cy="174" r="4" fill="#206095"/>
                    <circle cx="174" cy="174" r="4" fill="#206095"/>
                    <circle cx="154" cy="174" r="4" fill="#206095"/>
                    <circle cx="144" cy="174" r="4" fill="#206095"/>
                    <circle cx="134" cy="174" r="4" fill="#206095"/>
                    <circle cx="164" cy="184" r="4" fill="#206095"/>
                    <circle cx="154" cy="184" r="4" fill="#206095"/>
                    <circle cx="144" cy="184" r="4" fill="#206095"/>
                    <circle cx="134" cy="184" r="4" fill="#206095"/>
                    <circle cx="124" cy="184" r="4" fill="#206095"/>
                    <circle cx="94" cy="174" r="4" fill="#206095"/>
                    <circle cx="84" cy="174" r="4" fill="#206095"/>
                    <circle cx="74" cy="174" r="4" fill="#206095"/>
                    <circle cx="104" cy="184" r="4" fill="#206095"/>
                    <circle cx="94" cy="184" r="4" fill="#206095"/>
                    <circle cx="84" cy="184" r="4" fill="#206095"/>
                    <circle cx="74" cy="184" r="4" fill="#206095"/>
                    <circle cx="114" cy="194" r="4" fill="#206095"/>
                    <circle cx="104" cy="194" r="4" fill="#206095"/>
                    <circle cx="94" cy="194" r="4" fill="#206095"/>
                    <circle cx="84" cy="194" r="4" fill="#206095"/>
                    <circle cx="74" cy="194" r="4" fill="#206095"/>
                    <circle cx="64" cy="194" r="4" fill="#206095"/>
                    <circle cx="114" cy="204" r="4" fill="#206095"/>
                    <circle cx="104" cy="204" r="4" fill="#206095"/>
                    <circle cx="94" cy="204" r="4" fill="#206095"/>
                    <circle cx="84" cy="204" r="4" fill="#206095"/>
                    <circle cx="74" cy="204" r="4" fill="#206095"/>
                    <circle cx="64" cy="204" r="4" fill="#206095"/>
                    <circle cx="104" cy="214" r="4" fill="#206095"/>
                    <circle cx="94" cy="214" r="4" fill="#206095"/>
                    <circle cx="164" cy="244" r="4" fill="#206095"/>
                    <circle cx="164" cy="244" r="4" fill="#206095"/>
                    <circle cx="144" cy="244" r="4" fill="#206095"/>
                    <circle cx="164" cy="254" r="4" fill="#206095"/>
                    <circle cx="164" cy="254" r="4" fill="#206095"/>
                    <circle cx="174" cy="254" r="4" fill="#206095"/>
                    <circle cx="154" cy="254" r="4" fill="#206095"/>
                    <circle cx="144" cy="254" r="4" fill="#206095"/>
                    <circle cx="164" cy="264" r="4" fill="#206095"/>
                    <circle cx="164" cy="264" r="4" fill="#206095"/>
                    <circle cx="154" cy="264" r="4" fill="#206095"/>
                    <circle cx="164" cy="274" r="4" fill="#206095"/>
                    <circle cx="164" cy="274" r="4" fill="#206095"/>
                    <circle cx="174" cy="274" r="4" fill="#206095"/>
                    <circle cx="154" cy="274" r="4" fill="#206095"/>
                    <circle cx="164" cy="284" r="4" fill="#206095"/>
                    <circle cx="164" cy="284" r="4" fill="#206095"/>
                    <circle cx="174" cy="284" r="4" fill="#206095"/>
                    <circle cx="154" cy="284" r="4" fill="#206095"/>
                    <circle cx="164" cy="294" r="4" fill="#206095"/>
                    <circle cx="164" cy="294" r="4" fill="#206095"/>
                    <circle cx="174" cy="294" r="4" fill="#206095"/>
                    <circle cx="154" cy="294" r="4" fill="#206095"/>
                    <circle cx="144" cy="294" r="4" fill="#206095"/>
                    <circle cx="134" cy="294" r="4" fill="#206095"/>
                    <circle cx="164" cy="304" r="4" fill="#206095"/>
                    <circle cx="164" cy="304" r="4" fill="#206095"/>
                    <circle cx="174" cy="304" r="4" fill="#206095"/>
                    <circle cx="184" cy="304" r="4" fill="#206095"/>
                    <circle cx="154" cy="304" r="4" fill="#206095"/>
                    <circle cx="144" cy="304" r="4" fill="#206095"/>
                    <circle cx="134" cy="304" r="4" fill="#206095"/>
                    <circle cx="124" cy="304" r="4" fill="#206095"/>
                    <circle cx="164" cy="314" r="4" fill="#206095"/>
                    <circle cx="164" cy="314" r="4" fill="#206095"/>
                    <circle cx="174" cy="314" r="4" fill="#206095"/>
                    <circle cx="184" cy="314" r="4" fill="#206095"/>
                    <circle cx="154" cy="314" r="4" fill="#206095"/>
                    <circle cx="134" cy="314" r="4" fill="#206095"/>
                    <circle cx="74" cy="164" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="64" cy="174" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="54" cy="174" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="64" cy="184" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="54" cy="184" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="54" cy="194" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="144" cy="204" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="54" cy="204" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="44" cy="204" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="24" cy="204" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="14" cy="204" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="134" cy="214" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="84" cy="214" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="74" cy="214" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="64" cy="214" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="54" cy="214" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="44" cy="214" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="34" cy="214" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="24" cy="214" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="14" cy="214" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="94" cy="224" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="84" cy="224" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="74" cy="224" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="64" cy="224" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="54" cy="224" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="44" cy="224" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="34" cy="224" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="24" cy="224" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="14" cy="224" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="94" cy="234" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="84" cy="234" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="74" cy="234" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="64" cy="234" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="54" cy="234" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="44" cy="234" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="34" cy="234" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="24" cy="234" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="14" cy="234" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="4" cy="234" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="94" cy="244" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="84" cy="244" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="74" cy="244" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="64" cy="244" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="54" cy="244" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="44" cy="244" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="34" cy="244" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="24" cy="244" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="94" cy="254" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="84" cy="254" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="74" cy="254" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="64" cy="254" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="54" cy="254" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="44" cy="254" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="34" cy="254" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="24" cy="254" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="94" cy="264" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="84" cy="264" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="74" cy="264" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="64" cy="264" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="54" cy="264" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="44" cy="264" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="34" cy="264" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="24" cy="264" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="94" cy="274" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="84" cy="274" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="74" cy="274" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="64" cy="274" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="54" cy="274" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="44" cy="274" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="34" cy="274" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="24" cy="274" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="14" cy="274" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="84" cy="284" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="74" cy="284" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="64" cy="284" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="54" cy="284" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="44" cy="284" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="34" cy="284" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="24" cy="284" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="14" cy="284" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="54" cy="294" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="44" cy="294" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="34" cy="294" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="24" cy="294" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="14" cy="294" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="4" cy="294" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="34" cy="304" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="24" cy="304" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="14" cy="304" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="24" cy="314" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="14" cy="314" r="4" fill="#27A0CC" fill-opacity="0.2"/>
                    <circle cx="194" cy="144" r="4" fill="#206095"/>
                    <circle cx="194" cy="144" r="4" fill="#206095"/>
                    <circle cx="194" cy="154" r="4" fill="#206095"/>
                    <circle cx="204" cy="154" r="4" fill="#206095"/>
                    <circle cx="194" cy="154" r="4" fill="#206095"/>
                    <circle cx="204" cy="154" r="4" fill="#206095"/>
                    <circle cx="194" cy="164" r="4" fill="#206095"/>
                    <circle cx="204" cy="164" r="4" fill="#206095"/>
                    <circle cx="194" cy="164" r="4" fill="#206095"/>
                    <circle cx="204" cy="164" r="4" fill="#206095"/>
                    <circle cx="194" cy="174" r="4" fill="#206095"/>
                    <circle cx="204" cy="174" r="4" fill="#206095"/>
                    <circle cx="184" cy="174" r="4" fill="#206095"/>
                    <circle cx="194" cy="174" r="4" fill="#206095"/>
                    <circle cx="204" cy="174" r="4" fill="#206095"/>
                    <circle cx="194" cy="184" r="4" fill="#206095"/>
                    <circle cx="204" cy="184" r="4" fill="#206095"/>
                    <circle cx="214" cy="184" r="4" fill="#206095"/>
                    <circle cx="174" cy="184" r="4" fill="#206095"/>
                    <circle cx="184" cy="184" r="4" fill="#206095"/>
                    <circle cx="194" cy="184" r="4" fill="#206095"/>
                    <circle cx="204" cy="184" r="4" fill="#206095"/>
                    <circle cx="214" cy="184" r="4" fill="#206095"/>
                    <circle cx="194" cy="194" r="4" fill="#206095"/>
                    <circle cx="204" cy="194" r="4" fill="#206095"/>
                    <circle cx="214" cy="194" r="4" fill="#206095"/>
                    <circle cx="224" cy="194" r="4" fill="#206095"/>
                    <circle cx="234" cy="194" r="4" fill="#206095"/>
                    <circle cx="164" cy="194" r="4" fill="#206095"/>
                    <circle cx="174" cy="194" r="4" fill="#206095"/>
                    <circle cx="184" cy="194" r="4" fill="#206095"/>
                    <circle cx="194" cy="194" r="4" fill="#206095"/>
                    <circle cx="204" cy="194" r="4" fill="#206095"/>
                    <circle cx="214" cy="194" r="4" fill="#206095"/>
                    <circle cx="224" cy="194" r="4" fill="#206095"/>
                    <circle cx="234" cy="194" r="4" fill="#206095"/>
                    <circle cx="194" cy="204" r="4" fill="#206095"/>
                    <circle cx="204" cy="204" r="4" fill="#206095"/>
                    <circle cx="214" cy="204" r="4" fill="#206095"/>
                    <circle cx="224" cy="204" r="4" fill="#206095"/>
                    <circle cx="234" cy="204" r="4" fill="#206095"/>
                    <circle cx="174" cy="204" r="4" fill="#206095"/>
                    <circle cx="184" cy="204" r="4" fill="#206095"/>
                    <circle cx="194" cy="204" r="4" fill="#206095"/>
                    <circle cx="204" cy="204" r="4" fill="#206095"/>
                    <circle cx="214" cy="204" r="4" fill="#206095"/>
                    <circle cx="224" cy="204" r="4" fill="#206095"/>
                    <circle cx="234" cy="204" r="4" fill="#206095"/>
                    <circle cx="194" cy="214" r="4" fill="#206095"/>
                    <circle cx="204" cy="214" r="4" fill="#206095"/>
                    <circle cx="214" cy="214" r="4" fill="#206095"/>
                    <circle cx="224" cy="214" r="4" fill="#206095"/>
                    <circle cx="234" cy="214" r="4" fill="#206095"/>
                    <circle cx="184" cy="214" r="4" fill="#206095"/>
                    <circle cx="194" cy="214" r="4" fill="#206095"/>
                    <circle cx="204" cy="214" r="4" fill="#206095"/>
                    <circle cx="214" cy="214" r="4" fill="#206095"/>
                    <circle cx="224" cy="214" r="4" fill="#206095"/>
                    <circle cx="234" cy="214" r="4" fill="#206095"/>
                    <circle cx="194" cy="224" r="4" fill="#206095"/>
                    <circle cx="204" cy="224" r="4" fill="#206095"/>
                    <circle cx="214" cy="224" r="4" fill="#206095"/>
                    <circle cx="224" cy="224" r="4" fill="#206095"/>
                    <circle cx="234" cy="224" r="4" fill="#206095"/>
                    <circle cx="244" cy="224" r="4" fill="#206095"/>
                    <circle cx="174" cy="224" r="4" fill="#206095"/>
                    <circle cx="184" cy="224" r="4" fill="#206095"/>
                    <circle cx="194" cy="224" r="4" fill="#206095"/>
                    <circle cx="204" cy="224" r="4" fill="#206095"/>
                    <circle cx="214" cy="224" r="4" fill="#206095"/>
                    <circle cx="224" cy="224" r="4" fill="#206095"/>
                    <circle cx="234" cy="224" r="4" fill="#206095"/>
                    <circle cx="244" cy="224" r="4" fill="#206095"/>
                    <circle cx="194" cy="234" r="4" fill="#206095"/>
                    <circle cx="204" cy="234" r="4" fill="#206095"/>
                    <circle cx="214" cy="234" r="4" fill="#206095"/>
                    <circle cx="224" cy="234" r="4" fill="#206095"/>
                    <circle cx="234" cy="234" r="4" fill="#206095"/>
                    <circle cx="244" cy="234" r="4" fill="#206095"/>
                    <circle cx="254" cy="234" r="4" fill="#206095"/>
                    <circle cx="174" cy="234" r="4" fill="#206095"/>
                    <circle cx="184" cy="234" r="4" fill="#206095"/>
                    <circle cx="194" cy="234" r="4" fill="#206095"/>
                    <circle cx="204" cy="234" r="4" fill="#206095"/>
                    <circle cx="214" cy="234" r="4" fill="#206095"/>
                    <circle cx="224" cy="234" r="4" fill="#206095"/>
                    <circle cx="234" cy="234" r="4" fill="#206095"/>
                    <circle cx="244" cy="234" r="4" fill="#206095"/>
                    <circle cx="254" cy="234" r="4" fill="#206095"/>
                    <circle cx="194" cy="244" r="4" fill="#206095"/>
                    <circle cx="204" cy="244" r="4" fill="#206095"/>
                    <circle cx="214" cy="244" r="4" fill="#206095"/>
                    <circle cx="224" cy="244" r="4" fill="#206095"/>
                    <circle cx="234" cy="244" r="4" fill="#206095"/>
                    <circle cx="244" cy="244" r="4" fill="#206095"/>
                    <circle cx="254" cy="244" r="4" fill="#206095"/>
                    <circle cx="174" cy="244" r="4" fill="#206095"/>
                    <circle cx="184" cy="244" r="4" fill="#206095"/>
                    <circle cx="194" cy="244" r="4" fill="#206095"/>
                    <circle cx="204" cy="244" r="4" fill="#206095"/>
                    <circle cx="214" cy="244" r="4" fill="#206095"/>
                    <circle cx="224" cy="244" r="4" fill="#206095"/>
                    <circle cx="234" cy="244" r="4" fill="#206095"/>
                    <circle cx="244" cy="244" r="4" fill="#206095"/>
                    <circle cx="254" cy="244" r="4" fill="#206095"/>
                    <circle cx="194" cy="254" r="4" fill="#206095"/>
                    <circle cx="204" cy="254" r="4" fill="#206095"/>
                    <circle cx="214" cy="254" r="4" fill="#206095"/>
                    <circle cx="224" cy="254" r="4" fill="#206095"/>
                    <circle cx="234" cy="254" r="4" fill="#206095"/>
                    <circle cx="244" cy="254" r="4" fill="#206095"/>
                    <circle cx="264" cy="254" r="4" fill="#206095"/>
                    <circle cx="274" cy="254" r="4" fill="#206095"/>
                    <circle cx="284" cy="254" r="4" fill="#206095"/>
                    <circle cx="184" cy="254" r="4" fill="#206095"/>
                    <circle cx="194" cy="254" r="4" fill="#206095"/>
                    <circle cx="204" cy="254" r="4" fill="#206095"/>
                    <circle cx="214" cy="254" r="4" fill="#206095"/>
                    <circle cx="224" cy="254" r="4" fill="#206095"/>
                    <circle cx="234" cy="254" r="4" fill="#206095"/>
                    <circle cx="244" cy="254" r="4" fill="#206095"/>
                    <circle cx="264" cy="254" r="4" fill="#206095"/>
                    <circle cx="274" cy="254" r="4" fill="#206095"/>
                    <circle cx="284" cy="254" r="4" fill="#206095"/>
                    <circle cx="194" cy="264" r="4" fill="#206095"/>
                    <circle cx="204" cy="264" r="4" fill="#206095"/>
                    <circle cx="214" cy="264" r="4" fill="#206095"/>
                    <circle cx="224" cy="264" r="4" fill="#206095"/>
                    <circle cx="234" cy="264" r="4" fill="#206095"/>
                    <circle cx="244" cy="264" r="4" fill="#206095"/>
                    <circle cx="254" cy="264" r="4" fill="#206095"/>
                    <circle cx="264" cy="264" r="4" fill="#206095"/>
                    <circle cx="274" cy="264" r="4" fill="#206095"/>
                    <circle cx="284" cy="264" r="4" fill="#206095"/>
                    <circle cx="294" cy="264" r="4" fill="#206095"/>
                    <circle cx="174" cy="264" r="4" fill="#206095"/>
                    <circle cx="184" cy="264" r="4" fill="#206095"/>
                    <circle cx="194" cy="264" r="4" fill="#206095"/>
                    <circle cx="204" cy="264" r="4" fill="#206095"/>
                    <circle cx="214" cy="264" r="4" fill="#206095"/>
                    <circle cx="224" cy="264" r="4" fill="#206095"/>
                    <circle cx="234" cy="264" r="4" fill="#206095"/>
                    <circle cx="244" cy="264" r="4" fill="#206095"/>
                    <circle cx="254" cy="264" r="4" fill="#206095"/>
                    <circle cx="264" cy="264" r="4" fill="#206095"/>
                    <circle cx="274" cy="264" r="4" fill="#206095"/>
                    <circle cx="284" cy="264" r="4" fill="#206095"/>
                    <circle cx="194" cy="274" r="4" fill="#206095"/>
                    <circle cx="204" cy="274" r="4" fill="#206095"/>
                    <circle cx="214" cy="274" r="4" fill="#206095"/>
                    <circle cx="224" cy="274" r="4" fill="#206095"/>
                    <circle cx="234" cy="274" r="4" fill="#206095"/>
                    <circle cx="244" cy="274" r="4" fill="#206095"/>
                    <circle cx="254" cy="274" r="4" fill="#206095"/>
                    <circle cx="264" cy="274" r="4" fill="#206095"/>
                    <circle cx="274" cy="274" r="4" fill="#206095"/>
                    <circle cx="284" cy="274" r="4" fill="#206095"/>
                    <circle cx="294" cy="274" r="4" fill="#206095"/>
                    <circle cx="184" cy="274" r="4" fill="#206095"/>
                    <circle cx="194" cy="274" r="4" fill="#206095"/>
                    <circle cx="204" cy="274" r="4" fill="#206095"/>
                    <circle cx="214" cy="274" r="4" fill="#206095"/>
                    <circle cx="224" cy="274" r="4" fill="#206095"/>
                    <circle cx="234" cy="274" r="4" fill="#206095"/>
                    <circle cx="244" cy="274" r="4" fill="#206095"/>
                    <circle cx="254" cy="274" r="4" fill="#206095"/>
                    <circle cx="264" cy="274" r="4" fill="#206095"/>
                    <circle cx="274" cy="274" r="4" fill="#206095"/>
                    <circle cx="284" cy="274" r="4" fill="#206095"/>
                    <circle cx="294" cy="274" r="4" fill="#206095"/>
                    <circle cx="194" cy="284" r="4" fill="#206095"/>
                    <circle cx="204" cy="284" r="4" fill="#206095"/>
                    <circle cx="214" cy="284" r="4" fill="#206095"/>
                    <circle cx="224" cy="284" r="4" fill="#206095"/>
                    <circle cx="234" cy="284" r="4" fill="#206095"/>
                    <circle cx="244" cy="284" r="4" fill="#206095"/>
                    <circle cx="254" cy="284" r="4" fill="#206095"/>
                    <circle cx="264" cy="284" r="4" fill="#206095"/>
                    <circle cx="274" cy="284" r="4" fill="#206095"/>
                    <circle cx="284" cy="284" r="4" fill="#206095"/>
                    <circle cx="184" cy="284" r="4" fill="#206095"/>
                    <circle cx="194" cy="284" r="4" fill="#206095"/>
                    <circle cx="204" cy="284" r="4" fill="#206095"/>
                    <circle cx="214" cy="284" r="4" fill="#206095"/>
                    <circle cx="224" cy="284" r="4" fill="#206095"/>
                    <circle cx="234" cy="284" r="4" fill="#206095"/>
                    <circle cx="244" cy="284" r="4" fill="#206095"/>
                    <circle cx="254" cy="284" r="4" fill="#206095"/>
                    <circle cx="264" cy="284" r="4" fill="#206095"/>
                    <circle cx="274" cy="284" r="4" fill="#206095"/>
                    <circle cx="284" cy="284" r="4" fill="#206095"/>
                    <circle cx="194" cy="294" r="4" fill="#206095"/>
                    <circle cx="204" cy="294" r="4" fill="#206095"/>
                    <circle cx="214" cy="294" r="4" fill="#206095"/>
                    <circle cx="224" cy="294" r="4" fill="#206095"/>
                    <circle cx="234" cy="294" r="4" fill="#206095"/>
                    <circle cx="244" cy="294" r="4" fill="#206095"/>
                    <circle cx="254" cy="294" r="4" fill="#206095"/>
                    <circle cx="264" cy="294" r="4" fill="#206095"/>
                    <circle cx="274" cy="294" r="4" fill="#206095"/>
                    <circle cx="284" cy="294" r="4" fill="#206095"/>
                    <circle cx="184" cy="294" r="4" fill="#206095"/>
                    <circle cx="194" cy="294" r="4" fill="#206095"/>
                    <circle cx="204" cy="294" r="4" fill="#206095"/>
                    <circle cx="214" cy="294" r="4" fill="#206095"/>
                    <circle cx="224" cy="294" r="4" fill="#206095"/>
                    <circle cx="234" cy="294" r="4" fill="#206095"/>
                    <circle cx="244" cy="294" r="4" fill="#206095"/>
                    <circle cx="254" cy="294" r="4" fill="#206095"/>
                    <circle cx="264" cy="294" r="4" fill="#206095"/>
                    <circle cx="274" cy="294" r="4" fill="#206095"/>
                    <circle cx="284" cy="294" r="4" fill="#206095"/>
                    <circle cx="194" cy="304" r="4" fill="#206095"/>
                    <circle cx="204" cy="304" r="4" fill="#206095"/>
                    <circle cx="214" cy="304" r="4" fill="#206095"/>
                    <circle cx="224" cy="304" r="4" fill="#206095"/>
                    <circle cx="234" cy="304" r="4" fill="#206095"/>
                    <circle cx="244" cy="304" r="4" fill="#206095"/>
                    <circle cx="254" cy="304" r="4" fill="#206095"/>
                    <circle cx="264" cy="304" r="4" fill="#206095"/>
                    <circle cx="274" cy="304" r="4" fill="#206095"/>
                    <circle cx="194" cy="304" r="4" fill="#206095"/>
                    <circle cx="204" cy="304" r="4" fill="#206095"/>
                    <circle cx="214" cy="304" r="4" fill="#206095"/>
                    <circle cx="224" cy="304" r="4" fill="#206095"/>
                    <circle cx="234" cy="304" r="4" fill="#206095"/>
                    <circle cx="244" cy="304" r="4" fill="#206095"/>
                    <circle cx="254" cy="304" r="4" fill="#206095"/>
                    <circle cx="264" cy="304" r="4" fill="#206095"/>
                    <circle cx="274" cy="304" r="4" fill="#206095"/>
                    <circle cx="194" cy="314" r="4" fill="#206095"/>
                    <circle cx="204" cy="314" r="4" fill="#206095"/>
                    <circle cx="214" cy="314" r="4" fill="#206095"/>
                    <circle cx="224" cy="314" r="4" fill="#206095"/>
                    <circle cx="234" cy="314" r="4" fill="#206095"/>
                    <circle cx="244" cy="314" r="4" fill="#206095"/>
                    <circle cx="254" cy="314" r="4" fill="#206095"/>
                    <circle cx="264" cy="314" r="4" fill="#206095"/>
                    <circle cx="274" cy="314" r="4" fill="#206095"/>
                    <circle cx="284" cy="314" r="4" fill="#206095"/>
                    <circle cx="194" cy="314" r="4" fill="#206095"/>
                    <circle cx="204" cy="314" r="4" fill="#206095"/>
                    <circle cx="214" cy="314" r="4" fill="#206095"/>
                    <circle cx="224" cy="314" r="4" fill="#206095"/>
                    <circle cx="234" cy="314" r="4" fill="#206095"/>
                    <circle cx="244" cy="314" r="4" fill="#206095"/>
                    <circle cx="254" cy="314" r="4" fill="#206095"/>
                    <circle cx="264" cy="314" r="4" fill="#206095"/>
                    <circle cx="274" cy="314" r="4" fill="#206095"/>
                    <circle cx="284" cy="314" r="4" fill="#206095"/>
                    <circle cx="184" cy="324" r="4" fill="#206095"/>
                    <circle cx="194" cy="324" r="4" fill="#206095"/>
                    <circle cx="204" cy="324" r="4" fill="#206095"/>
                    <circle cx="214" cy="324" r="4" fill="#206095"/>
                    <circle cx="224" cy="324" r="4" fill="#206095"/>
                    <circle cx="234" cy="324" r="4" fill="#206095"/>
                    <circle cx="244" cy="324" r="4" fill="#206095"/>
                    <circle cx="254" cy="324" r="4" fill="#206095"/>
                    <circle cx="264" cy="324" r="4" fill="#206095"/>
                    <circle cx="274" cy="324" r="4" fill="#206095"/>
                    <circle cx="284" cy="324" r="4" fill="#206095"/>
                    <circle cx="184" cy="324" r="4" fill="#206095"/>
                    <circle cx="194" cy="324" r="4" fill="#206095"/>
                    <circle cx="204" cy="324" r="4" fill="#206095"/>
                    <circle cx="214" cy="324" r="4" fill="#206095"/>
                    <circle cx="224" cy="324" r="4" fill="#206095"/>
                    <circle cx="234" cy="324" r="4" fill="#206095"/>
                    <circle cx="244" cy="324" r="4" fill="#206095"/>
                    <circle cx="254" cy="324" r="4" fill="#206095"/>
                    <circle cx="264" cy="324" r="4" fill="#206095"/>
                    <circle cx="274" cy="324" r="4" fill="#206095"/>
                    <circle cx="284" cy="324" r="4" fill="#206095"/>
                    <circle cx="164" cy="334" r="4" fill="#206095"/>
                    <circle cx="174" cy="334" r="4" fill="#206095"/>
                    <circle cx="184" cy="334" r="4" fill="#206095"/>
                    <circle cx="194" cy="334" r="4" fill="#206095"/>
                    <circle cx="204" cy="334" r="4" fill="#206095"/>
                    <circle cx="214" cy="334" r="4" fill="#206095"/>
                    <circle cx="224" cy="334" r="4" fill="#206095"/>
                    <circle cx="234" cy="334" r="4" fill="#206095"/>
                    <circle cx="244" cy="334" r="4" fill="#206095"/>
                    <circle cx="254" cy="334" r="4" fill="#206095"/>
                    <circle cx="264" cy="334" r="4" fill="#206095"/>
                    <circle cx="274" cy="334" r="4" fill="#206095"/>
                    <circle cx="164" cy="334" r="4" fill="#206095"/>
                    <circle cx="174" cy="334" r="4" fill="#206095"/>
                    <circle cx="184" cy="334" r="4" fill="#206095"/>
                    <circle cx="194" cy="334" r="4" fill="#206095"/>
                    <circle cx="204" cy="334" r="4" fill="#206095"/>
                    <circle cx="214" cy="334" r="4" fill="#206095"/>
                    <circle cx="224" cy="334" r="4" fill="#206095"/>
                    <circle cx="234" cy="334" r="4" fill="#206095"/>
                    <circle cx="244" cy="334" r="4" fill="#206095"/>
                    <circle cx="254" cy="334" r="4" fill="#206095"/>
                    <circle cx="264" cy="334" r="4" fill="#206095"/>
                    <circle cx="274" cy="334" r="4" fill="#206095"/>
                    <circle cx="154" cy="334" r="4" fill="#206095"/>
                    <circle cx="164" cy="344" r="4" fill="#206095"/>
                    <circle cx="174" cy="344" r="4" fill="#206095"/>
                    <circle cx="184" cy="344" r="4" fill="#206095"/>
                    <circle cx="194" cy="344" r="4" fill="#206095"/>
                    <circle cx="204" cy="344" r="4" fill="#206095"/>
                    <circle cx="214" cy="344" r="4" fill="#206095"/>
                    <circle cx="224" cy="344" r="4" fill="#206095"/>
                    <circle cx="234" cy="344" r="4" fill="#206095"/>
                    <circle cx="164" cy="344" r="4" fill="#206095"/>
                    <circle cx="174" cy="344" r="4" fill="#206095"/>
                    <circle cx="184" cy="344" r="4" fill="#206095"/>
                    <circle cx="194" cy="344" r="4" fill="#206095"/>
                    <circle cx="204" cy="344" r="4" fill="#206095"/>
                    <circle cx="214" cy="344" r="4" fill="#206095"/>
                    <circle cx="224" cy="344" r="4" fill="#206095"/>
                    <circle cx="234" cy="344" r="4" fill="#206095"/>
                    <circle cx="154" cy="344" r="4" fill="#206095"/>
                    <circle cx="144" cy="344" r="4" fill="#206095"/>
                    <circle cx="164" cy="354" r="4" fill="#206095"/>
                    <circle cx="194" cy="354" r="4" fill="#206095"/>
                    <circle cx="164" cy="354" r="4" fill="#206095"/>
                    <circle cx="194" cy="354" r="4" fill="#206095"/>
                    <circle cx="154" cy="354" r="4" fill="#206095"/>
                    <circle cx="144" cy="354" r="4" fill="#206095"/>
                    <circle cx="134" cy="354" r="4" fill="#206095"/>
                    <circle cx="164" cy="364" r="4" fill="#206095"/>
                    <circle cx="164" cy="364" r="4" fill="#206095"/>
                    <circle cx="154" cy="364" r="4" fill="#206095"/>
                    <circle cx="144" cy="364" r="4" fill="#206095"/>
                    <circle cx="134" cy="364" r="4" fill="#206095"/>
                    <circle cx="124" cy="364" r="4" fill="#206095"/>
                    <circle cx="124" cy="374" r="4" fill="#206095"/>
                    <circle cx="114" cy="374" r="4" fill="#206095"/>
                </svg>
            </div>
        </div>
    </section>



<div class="ons-grid__col ons-grid__col--sticky@m ons-col-4@m"></div>
</main>
{% endblock %}



{% block footer %}
    <footer class="print--hide padding-top--13">
        <section>
        <div class="wrapper">
        <div class="improve-this-page" data-module="improve-this-page">
        <div class="improve-this-page__prompt clearfix link-adjust" id="feedback-form-header" role="status" aria-live="assertive" tabindex="-1">
        <div class="improve-this-page__prompt_left">
        <h2 class="improve-this-page__is-useful-question margin-right--1">Is this page useful?</h2>
        <a id="feedback-form-yes" class="improve-this-page__page-is-useful-button" href="https://www.ons.gov.uk/feedback/thanks" aria-label="Yes I found this page useful">Yes</a>
        <span>|</span>
        <a id="feedback-form-no" class="js-toggle" href="https://www.ons.gov.uk/feedback" aria-label="No I didn't find this page useful">No</a>
        </div>
        <div class="improve-this-page__prompt_right">
        <a id="feedback-form-anything-wrong" class="js-toggle improve-this-page__anything-wrong" href="https://www.ons.gov.uk/feedback">Report a problem with this page</a>
        </div>
        </div>
        <div id="feedback-form" class="improve-this-page__form js-hidden">
        <div class="ons-col-8@m">
        <form id="feedback-form-container" name="feedback-form">
        <input type="hidden" name="feedback-form-type" value="footer">
        <input type="hidden" name="url" id="feedback-form-url" value="https://www.ons.gov.uk/">
        <input type="hidden" name="type" value="A specific page">
        <div class="form-group">
        <label class="form-label-bold" id="description-field-label" for="description-field">How should we improve this page?</label>
        <textarea id="description-field" class="form-control" name="description" rows="5"></textarea>
        </div>
        <div class="form-group">
        <p class="font-size--24 font-weight-700 margin-bottom--0">Do you want a reply?</p>
        <p class="font-size--18 margin-top--0">If you'd like us to get back to you, please add your name and email address below.</p>
        <label class="form-label-bold" for="name-field">Name (optional)</label>
        <input id="name-field" class="form-control" type="text" name="name">
        </div>
        <div class="form-group">
        <label class="form-label-bold" id="email-field-label" for="email-field">Email (optional)</label>
        <input id="email-field" class="form-control" type="text" name="email">
        </div>
        <div>
        <input id="feedback-form-submit" class="btn btn--primary font-weight-700 margin-bottom--2" type="submit" value="Send feedback">
        </div>
        <div>
        <a href="javascript:void(0)" id="feedback-form-close" class="improve-this-page__close js-toggle btn btn--secondary font-weight-700">I don't want to provide feedback</a>
        </div>
        </form>
        </div>
        </div>
        </div>
        </div>
        <h2 class="visuallyhidden">Footer links</h2>
        <div class="footer">
        <div class="wrapper">
        <nav aria-label="Footer links">
        <div class="footer-nav col-wrap">
        <div class="col col--lg-one-third col--md-one-third">
        <h2 class="footer-nav__heading">Help</h2>
        <ul class="footer-nav__list">
        <li class="footer-nav__item">
        <a href="https://www.ons.gov.uk/help/accessibility">Accessibility</a>
        </li>
        <li class="footer-nav__item">
        <a href="https://www.ons.gov.uk/cookies">Cookies</a>
        </li>
        <li class="footer-nav__item">
        <a href="https://www.ons.gov.uk/help/privacynotice">Privacy</a>
        </li>
        <li class="footer-nav__item">
        <a href="https://www.ons.gov.uk/help/termsandconditions">Terms and conditions</a>
        </li>
        </ul>
        </div>
        <div class="col col--lg-one-third col--md-one-third">
        <h2 class="footer-nav__heading">About ONS</h2>
        <ul class="footer-nav__list">
        <li class="footer-nav__item">
        <a href="https://www.ons.gov.uk/aboutus/whatwedo">What we do</a>
        </li>
        <li class="footer-nav__item">
        <a href="https://www.ons.gov.uk/aboutus/careers">Careers</a>
        </li>
        <li class="footer-nav__item">
        <a href="https://www.ons.gov.uk/aboutus/contactus">Contact us</a>
        </li>
        <li class="footer-nav__item">
        <a href="https://www.ons.gov.uk/news">News</a>
        </li>
        <li class="footer-nav__item">
        <a href="https://www.ons.gov.uk/aboutus/transparencyandgovernance/freedomofinformationfoi">Freedom of Information</a>
        </li>
        </ul>
        </div>
        <div class="col col--lg-one-third col--md-one-third">
        <h2 class="footer-nav__heading">Connect with us</h2>
        <ul class="footer-nav__list">
        <li class="footer-nav__item">
        <a href="https://twitter.com/ONS" class="icon--hide" target="_blank">Twitter</a>
        </li>
        <li class="footer-nav__item">
        <a href="https://www.instagram.com/officefornationalstatistics/" class="icon--hide" target="_blank">Instagram</a>
        </li>
        <li class="footer-nav__item">
        <a href="https://www.facebook.com/ONS" class="icon--hide" target="_blank">Facebook</a>
        </li>
        <li class="footer-nav__item">
        <a href="https://www.linkedin.com/company/office-for-national-statistics" class="icon--hide" target="_blank">LinkedIn</a>
        </li>
        <li class="footer-nav__item">
        <a href="https://consultations.ons.gov.uk/" class="icon--hide" target="_blank">Consultations</a>
        </li>
        <li class="footer-nav__item">
        <a href="https://www.statsusernet.org.uk/login" class="icon--hide" target="_blank">Discussion forums</a>
        </li>
        <li class="footer-nav__item">
        <a href="https://public.govdelivery.com/accounts/UKONS/subscribers/new" class="icon--hide" target="_blank">Email alerts</a>
        </li>
        </ul>
        </div>
        </div>
        </nav>
        </div>
        <div class="wrapper">
        <div class="footer-license">
        <img class="footer-license__img" alt="OGL" width="60" src="https://cdn.ons.gov.uk/assets/images/logo-ogl-footer.svg">
        <p class="footer-license__text margin-left-sm--0">
        All content is available under the <a class="icon--hide" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank">Open Government Licence v3.0</a> <span class="icon icon-external--light-small"></span>, except where otherwise stated
        </p>
        </div>
        </div>
        </div>
        </section>
        <div id="viewport-sm" class="js-viewport-size"></div><div id="viewport-md" class="js-viewport-size"></div><div id="viewport-lg" class="js-viewport-size"></div>
    </footer>
{% endblock %}

